{{ > header}}

<h1 align="center" >Les annonces actuelles</h1> <br>

<div class="row">
{{#annunces_list}}
<div class="col m-3">
<div class="card h-100" style="width: 18rem;">
<div align="center">
<h5 class="card-title"> {{title}}</h5><br>
<h6  class="card-subtitle "> Entreprise : {{name}}</h6>  <br>
<h6 class="card-subtitle">salary : {{salary}}</h6><br>
<h6  class="card-subtitle ">type_of_job : {{type_of_job}}</h6>
<a class="card-text" style="height: 4rem;" href="/read/{{id_annunce}}">Détail annonces </a><br>
{{^company}}
<a class="btn btn-primary btn-sm" href="/apply/{{id_annunce}}">postuler</a><br>
{{/company}}
</div>
</div>
</div>

{{/annunces_list}}
</div>
{{> footer}}