{{ > header}}

<h1> Vos annonces </h1>

<div class="row">
    {{#company_annunces}}
    <div class="col mb-3">
      <div class="card h-100" style="width: 18rem;">
        <div>
          
          title : {{title}}<br>
          salary : {{salary}}<br>
          type_of_job : {{type_of_job}}<br>
          description : {{description}}<br>
          <a href="/update/{{id_annunce}}">Modifier</a> <br>
          <a href="/delete/{{id_annunce}}">Supprimer</a>
          
        </div>
    </div>
  </div>
</div>
    {{/company_annunces}}



{{ > footer}}


