{{ > header}}

 <h1>Vous etes une entreprise</h1>
<div class="container">
    <form action="/company_login" method="post" >
        <div class="form-group">
        <label for="identifiant">identifiant </label>
        <input type="text" class="form-control"  id="identifiant" name="identifiant" placeholder="Entrer votre identifiant" size="50"  > <br>
        </div>

        <div class="form-group" >
        <label for="password">password</label>
        <input type="text" class="form-control" placeholder="Password" id="password" name="password"  size="50"><br>
        </div>


        <input id="connexion" type="submit" class="btn btn-primary" value="Connexion"> </div>
    </form>
</div>
{{> footer}}