{{ > header}}

<h1>Formulaire de création d'annonce</h1>
    <form action="/create" method="post">
        <label for="title">Titre </label>
         <input type="text"  id="title" name="title" value="" size="50"> <br>
         <label for="salary">salary </label>
        <input type="text" id="salary" name="salary" value="" size="50"><br>
        <label for="type_of_job">type_of_job </label>
         <input type="text"  id="type_of_job" name="type_of_job" value="" size="50"><br>
        <label for="description">description </label>
        <input type="text" id="description" name="description" value="" size="50"><br>
        <input id="annonce" type="submit" value="Créer une nouvelle annonce"> </div>
    </form>

{{> footer}}