{{ > header}}

<div class="d-flex justify-content-md-center align-items-center vh-100">
    <div>
    <div style="width: 700px;">
        <h2>cree votre compte Etudiant</h2>
        <br>
    <form action="/student_new_user" method="post">
        <div class="form-group">
        <label for="first_name">first_name</label>
         <input type="text" class="form-control" placeholder="Votre Nom"id="first_name" name="first_name" value="" size="50"> <br>
        </div>
        <div class="form-group">
         <label for="last_name">last_name </label>
        <input type="text" class="form-control" placeholder="Votre Prenom"id="last_name" name="last_name" value="" size="50"><br>
        </div>
        <div class="form-group">
        <label for="mail">mail </label>
         <input type="text" class="form-control" placeholder="Votre Mail"  id="mail" name="mail" value="" size="50"><br>
        </div>
        <div class="form-group">
        <label for="password">password </label>
        <input type="text" class="form-control" placeholder="Password" id="password" name="password" value="" size="50"><br>
        </div>
        <input id="inscription" type="submit" value="inscription" class="btn btn-primary"> </div>
    </form>
</div>
</div>
</div>
{{> footer}}