{{>header}}
<h1 align="center" >Condidatures</h1> <br>
<div class="row">
    
    {{#postulate_annunces}}
    <div class="col m-3">
        <div class="card h-100" style="width: 18rem;">
        <div align="center">
    <h5 class="card-title">Nom: {{first_name}}</h5><br>
    <h5 class="card-title">Prénom : {{last_name}} </h5><br>
    <h6 class="card-subtitle">mail : {{mail}}</h6><br>
    <h6 class="card-subtitle">Téléphone : {{telephone}}</h6> <br>
        <h6 class="card-subtitle">Adresse : {{address}} </h6><br>
    cv : {{cv}} <br>
    <a class="card-text" style="height: 4rem;" href="/student/{{id_student}}">voir lettre de motivation </a><br>
        </div>
        </div>
    </div>
    {{/postulate_annunces}}
    </div>
{{>footer}}