{{ > Header}}

<div class="d-flex justify-content-md-center align-items-center vh-100">
<div>
<div style="width: 700px;">
    <h2 style="color: #3e475d;" >modifier votre annonce</h2>
    
    <form action="/update/{{id_annunce}}" method="post">
        <div class="form-group">
        <label for="title">Titre </label>
         <input type="text" class="form-control" placeholder="titre de votre annonce"  id="title" name="title" value="{{title}}" size="50"> <br>
         </div>

         <div class="form-group">
         <label for="salary">Salaire </label>
        <input type="text" class="form-control" placeholder="salaire" id="salary" name="salary" value="{{salary}}" size="50"><br>
         </div>

         <div class="form-group">
        <label for="type_of_job">Type de Contrat/job </label>
         <input type="text" class="form-control" placeholder="type de job"  id="type_of_job" name="type_of_job" value="{{type_of_job}}" size="50"><br>
         </div>

         <div class="form-group">
        <label for="description">Description </label>
        <input type="text" class="form-control" placeholder="description"  id="description" name="description" value="{{description}}" size="50"><br>
         </div>
        <input id="annonce" type="submit" value="modifier l'annonce"> 
    </form>
</div>
</div>
</div>
{{> footer}}